@config "../tailwind.config.ts";
@import "tailwindcss";
@tailwind utilities;






body {
  overflow-x: hidden;
} 


.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding: 80px;
  }
  @media screen and (min-width: 1440px) {
    padding: 120px;
  }

}

.header {
  box-shadow: 0px 1px 3px 0px rgba(67, 62, 1, 0.2),
    0px 1px 1px 0px hsla(53, 93%, 44%, 0.823), 0px 2px 1px -1 rgba(229, 180, 5, 0.801);
}
