@import "tailwindcss";
@tailwind utilities;



body {
  overflow-x: hidden;
} 

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding: 80px;
  }
  @media screen and (min-width: 1440px) {
    padding: 120px;
  }

}
